.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-overlay {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("/assets/images/hazy.jpg");
  background-size: 100%;
  color: #fff;
  width: auto;
  padding-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.jumbotron {
  background-color: #03719C;
  color: white;
}

.site-footer {
  margin-top: 0px;
  background-color: #0F9B8E;
  padding: 20px 0;
}

#header-nav {
  background-color: #535857;
  color: white;
}